@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata&display=swap');

* {
    font-family: 'Inconsolata', monospace;
}

header {
  width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    color: #ffffff;
}

.cardImg {
    max-width: 450px;
    object-fit: contain;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    max-width: 500px;
    margin: auto;
}

.headerText {
    font-size: 1.5rem;
    letter-spacing: .2rem;
    color: #FFE81F;
    margin: 0
}

